{% extends "layout.html" %}
{% block content %}

<h1>Create New Student</h1>

<p class="subtitle">Add a new student account to the portal.</p>

{% if message %}
    <p class="error">{{ message }}</p>
{% endif %}

<form method="POST" class="profile-form">

    <label>New Username:</label>
    <input type="text" name="username" required>

    <label>Password:</label>
    <input type="text" name="password" required>

    <label>House:</label>
    <select name="house" required>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select>

    <button type="submit">Create Student</button>
</form>

<a class="dash-btn" href="/dashboard/{{ username }}/{{ role }}/{{ avatar }}">
    ⬅ Back to Dashboard
</a>

{% endblock %}
